* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    margin: 1rem auto;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1rem;
    background-color: #f2f2f2;
    color: #333;
}

h1 {
    margin-bottom: 1rem;
    text-align: center;
}

form {
    margin-top: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1rem;
}

input,
textarea,
select {
    padding: .75rem;
    width: 100%;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

button {
    background-color: #4CAF50;
    color: white;
    display: block;
    margin: 1rem auto 0;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

code {
    display: block;
    background-color: #000;
    color: #fff;
    padding: .5rem;
    margin-top: .5rem;
}
