.grid-container {
    display: grid;
    grid-template-columns: auto;
    background-color: rgb(196, 196, 194);
}
img {
    width: auto;
    height: auto;
    background-color: azure;
    float: right;
}
.grid-item  {
    background-color: rgb(116, 114, 114);
    size: ;
}
h2 {
    position: absolute;
    font-size: 5em;
    color: rgb(126, 16, 16);
    top: 60%;
    left: 60%;
}
h1 {
    position:absolute;
    font-size: 9em;
    color: rgb(16, 16, 16);
    top: 10%;
    left: 19%;
  }