@import url('https://fonts.googleapis.com/css?family=Josefin Sans');
.content{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  max-width: 1600px;
  margin: 0 auto;
}
.logo{
    display: inline-block;
    max-height: 56px;
    max-width: 225px;
    padding: 8px 4px 8px 12px;
    vertical-align: middle;
}
header {
    display: grid;
    grid-template-columns: 1fr auto;
    font-family: 'Josefin Sans';
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: #FFFFFF;
}

.active {
  background-color: #000000;
}

nav {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    color: #0f0e0e;
    text-align: center;
    padding: 35px;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    vertical-align: middle;
}
nav a:hover {
    color: #a80b8b;
    text-decoration: none;
}
nav input[type=text]{
    float: right;
    padding: 7px;
    border: none;
    margin-right: 16px;
    font-size: 15px;
}
body{
    background-color: #fcfbfb;
    font-family: 'Josefin Sans';
    font-size: 22px;
    padding: 0;
    margin: 0;
}
* {box-sizing: border-box;}
body {font-family: 'Josefin Sans';}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 3em;
    position: absolute;
    bottom: 180px;
    width: 100%;
    text-align: center;
    font-family: 'Josefin Sans';
    opacity: 0.5;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: black;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* home message*/

h2{
    color: #000000;
    padding: 1em;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Josefin Sans';
    margin-left: 50px;
    margin-right: 50px;
    font-weight: lighter;
}
h3 {
    text-align: center;
    background: #36208e ;
    color: #FFFFFF ;
    padding-top: 25px;
    padding-bottom: 30px;
    z-index: 9;
    margin-top: 0rem;
    text-decoration: none; 
    font-size: 1.4rem;
    font-family: 'Josefin Sans';
    margin-left: 80px;
    margin-right: 80px;
}
/*Middle images*/
.outer{
    display: block;
    display: grid;
    padding: 2rem;
    grid-template-columns:500px 1fr;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    font: 500 100%/1.5 system-ui;
    transition: transform .5s;
    gap: 1rem;
}
.inner {
    display: block;
    display: grid;
    padding: 2rem;
    grid-template-columns:500px 1fr;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    font: 500 100%/1.5 system-ui;
    gap: 10px;
}
p {
    color: #000000;
    padding: 35px;
    font-size: 17px;
    font-family: 'Josefin Sans';
 }
 footer{
    background-color: #36208e;

}
footer a {
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    padding: 0;
    font-size: 18px;
}
footer a:hover {
    color: black;
}
footer p {
    font-size: 1em;
    text-align: center;
    font-family: 'Josefin Sans';
}
.social {
    padding: 0px;
    text-align: right;
    margin-right: 20px;
}
.footerlogo{
    padding: 100px 100px;
}
h1{
    color: #36208e;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    font-family: 'Josefin Sans';
    margin: 40px;
}
.historique{
    color: #000000;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 15.7px;
    line-height: 1.5em;
}
/* Three columns side by side */
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  .colum {
    width: 100%;
    text-align: center;
	}
	.containe {
	  display: flex;
     margin: 30px;
     text-align: center;
     color: #000000;
     text-decoration: none;
     font-size: 18px;
     padding: 15px 30px;
     margin-top: 50px;
     border-radius: 5px
	}
  .caption {
    font-family: 'Josefin Sans';
    display: block;
    width: 550px;
    text-align: center;
    margin: 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px
    
  }
  
  /* Display the columns below each other instead of side by side on small screens */
 @media screen and (max-width: 650px) {
.column {
    width: 100%;
    display: block;
}
 }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: #000000;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #000000;
  }
 