body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(32, 31, 31);
}
.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 240px 80px;
    grid-template-areas: "image" "text" "stats";
  
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
}
.card-image {
    grid-area: image;
    background-size: cover;
}
img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card-text {
    grid-area: text;
    margin: 25px;
}
.card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
}
.card-text h2 {
    margin-top:0px;
    font-size:15px;
    color: #105a8e;
}
.card-text h1 {
    margin-top:0px;
    font-size:28px;
    font-family: roboto;
}
.card-stats {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px;
  
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #105a8e;

}
 .card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    color: white;
    padding:10px;
}
.card-stats .type{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}
.card-stats .value{
    font-size: 22px;
    font-weight: 500;
}
.card-stats .border{
    border-left: 1px solid rgb(18, 19, 25);
    border-right: 1px solid rgb(18, 19, 25)
}
.card-stats .value sup{
    font-size: 12px;
}
.card:hover{
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}